* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #00382B;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;

}

.cabeçalho-img {
    width: 15%;

}

.cabeçalho-lista-item {
    display: inline-block;
    padding: 24px;
    font-size: 30px;

}

.filme{ 
    background-color: 967543;
}