* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.cabeçalho {
    background-color: #00382B;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
}

.cabeçalho-img {
    width: 15%;

}

.cabeçalho-lista-item {
    display: inline-block;
    padding: 24px;
    font-size: 30px;
    font-family: "Trocchi", serif;
}

.logo-filme {
    width: 30%;
}

.filme {
    background-color: #967543;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.filme-div {
    width: 35%;
}

.filme-título {
    padding: 24px 0;
}

.filme-título {
    font-family: "Aboreto", system-ui;
font-size: 40px;

}

.icone{
    width: 30px;
    padding: 24px;
}

.simba-div{
    align-items: center;
}

.personagens-titulo{
    text-align: center;
    padding: 50px 0;
}

.personagens-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}